message-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;


    display: flex;
    flex-direction: column;
    align-items: center;
}
.message {
    background: #fff;
    margin: 10px 0;
    padding: 0 10px;
    height: 40px;
    box-shadow: 0 0 10px 0 #eee;
    font-size: 14px;
    border-radius: 3px;


    display: flex;
    align-items: center;
}
.message .text {
    color: #333;
    padding: 0 20px 0 5px;
}
.message .close {
    cursor: pointer;
    color: #999;
}


.message .icon-info {
    color: #0482f8;
}
.message .icon-success {
    color: #06a35a;
}

@keyframes message-move-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.message.move-in {
    animation: message-move-in 0.3s ease-in-out;
}

@keyframes message-move-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.message.move-out {
    animation: message-move-out 0.3s ease-in-out;
    animation-fill-mode: forwards;
}