.container {
}

.row {
    height: 100%;
}

.left {
    text-align: center;
    /*background-color: #272121;*/
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.middle {
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.right {
    text-align: center;
    background-color: /*#ff4d00*/ black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
}

.messages {
    text-align: left;
    background-color: /*#443737*/ black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
}

.textEntry {
    text-align: left;
    background-color: /*#443737*/ black;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    width: 100%;
    height: 10%;
}

.channelList {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
}

.list-group-item {
    opacity: .7;
    background-color: /*#443737*/ black;
}

.userInfo {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    position: absolute;
}

.row.no-pad { /* in order to have no seperation between the columns that are used to layout website.*/
    margin-right: 0;
    margin-left: 0;
}

    .row.no-pad > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
